html, body{
  width: 100%;
  height: 100%;
}
#container {
    width: 100%;
    height: 100%; 
    background-color: #ffd233;
    position: fixed;
  }

  #bolder {
    width: 95%;
    height:95%;
    margin: 2%;
  }

  /* staffbase */
  #staffbase {
    max-width: 25%;
    height:auto;
    position: absolute;
    bottom: 6%;
    right: 5%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:move 1s ease infinite alternate;
    animation-delay: 0.7s;
  }
  @keyframes rotate {
    from{transform:move(-5deg);}
    to{transform:rotate(5deg);}
    }

    /*텍스트  */
  #member {
    max-width: 35%;
    height:auto;
    position: absolute;
    top: 7%;
    left: 5%;
  }
  #smallText {
    max-width: 50%;
    height:auto;
    position: absolute;
    bottom: 16%;
    left: 25%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:rotate 1s ease infinite alternate;
    animation-delay: 0.7s;
  }
  @keyframes rotate {
    
    from{transform:rotate(-5deg);}
    to{transform:rotate(5deg);}
    }

    /* 언더라인,메세지 아이콘 */
  #underLine {
    width: 70%;
    height:auto;
    position: absolute;
    top: 60%;
    left: 13%;
  }
  #message {
    max-width: 7%;
    height:auto;
    position: absolute;
    top: 63%;
    left: 45%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:scale 1s ease infinite alternate;
    animation-delay: 0.5s;
  }
  @keyframes scale {100%{
    width:7%;
  }}
  
  /* 그 외 아이콘 */
  #boom_left {
    max-width: 10%;
    height:auto;
    position: absolute;
    top: 20%;
    left: 15%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:scale1 1s ease infinite alternate;
    animation-delay: 0.5s;
  }
  @keyframes scale1 {100%{
    width:5%;
  }}
  #boom_right {
    width: 10%;
    height:auto; 
    position: absolute;
    bottom: 46%;
    right: 17%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:scale2 1s ease infinite alternate;
    animation-delay: 0.5s;
  }
  @keyframes scale2 {100%{
    width:6%;
  }}
  #pen {
    width: 8%;
    position: absolute;
    bottom: 14%;
    right: 10%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:scale 1s ease infinite alternate;
    animation-delay: 0.5s;
  }
  @keyframes scale {100%{
    width:6%;
  }}
  #memo1 {
    width: 10%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:scale 1s ease infinite alternate;
    animation-delay: 0.5s;
  }
  @keyframes scale {100%{
    width:6%;
  }}

  #next {
    width: 5%;
    position: absolute;
    top: 45%;
    right: 6%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
  }
  #next:hover {
    width: 7%;
  }
  #pre {
    width: 5%;
    position: absolute;
    top: 45%;
    left: 6%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
  }
  #pre:hover {
    width: 7%;
  }

  /* 아이콘 애니메이션 */
  #icon1 {
    max-width: 12%;
    height:auto;
    position: absolute;
    top: 50%;
    left: 20%;
    animation: bounce 0.4s ease infinite alternate;
    animation-delay:0.1s;
  }
  #icon2 {
    max-width: 12%;
    height:auto;
    position: absolute;
    top: 50%;
    left: 44%;
    animation: bounce 0.4s ease infinite alternate;
    animation-delay:0.3s;
  }
  #icon3 {
    max-width: 12%;
    height:auto;
    position: absolute;
    top: 50%;
    right: 24%;
    animation: bounce 0.4s ease infinite alternate;
    animation-delay:0.5s;
  }
  @keyframes bounce {
    100% {
      position:absolute;
      top:40%;
    }
  }
  /* 텍스트 애니메이션 */
  #p1 {
    font-size: 1.3rem;
    font-family:"Titan one",cursive;
    position: absolute;
    top: 28%;
    left: 5%;
    animation: textBounce 0.4s ease infinite alternate;
    animation-delay:0.1s;
  }
  #p2 {
    font-size: 1.3rem;
    font-family:"Titan one",cursive;
    position: absolute;
    top: 28%;
    left: 32%;
    animation: textBounce 0.4s ease infinite alternate;
    animation-delay:0.2s;
  }
  #p3 {
    font-size: 1.3rem;
    font-family:"Titan one",cursive;
    position: absolute;
    top: 30%;
    right: 15%;
    animation: textBounce 0.4s ease infinite alternate;
    animation-delay:0.3s;
  }
  @keyframes textBounce {
    100% {
      position:absolute;
      top:25%;
    }
  }

/* arrow애니메이션 */
  #arrow1 {
    width: 7%;
    position: absolute;
    top: 35%;
    left: 15%;
    transform:rotate(30deg);
    animation: arrowBounce 0.4s ease infinite alternate;
    animation-delay:0.1s;
  }
  #arrow2 {
    width: 6%;
    position: absolute;
    top: 35%;
    left: 43%;
    animation: arrowBounce 0.4s ease infinite alternate;
    animation-delay:0.2s;
  }
  #arrow3 {
    width: 5%;
    position: absolute;
    top: 35%;
    right: 25%;
    animation: arrowBounce 0.4s ease infinite alternate;
    animation-delay:0.3s;
  }
  @keyframes arrowBounce {
    100% {
      position:absolute;
      top:32%;
    }
  }


  /* 반응형 */
  @media screen and (min-width:1500px) {
    #smallText {
      display:none;
    }
    #message{
      display:none;
    }
  
   /* boom애니메이션 */
  #boom_left {
    position: absolute;
    top: 60%;
    left: 12%;
    transform:rotate(-60deg);
    animation:scale1 1.2s ease infinite alternate;
    animation-delay: 0.1s;
  }
  @keyframes scale1 {100%{
    width:1%;
  }}
  #boom_right {
    
    position: absolute;
    bottom: 28%;
    right: 17%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    animation:scale2 1.2s ease infinite alternate;
    animation-delay: 0.1s;
  }
  @keyframes scale2 {100%{
    width:1%;
  }}

  /* 언더라인 애니메이션 */
  #underLine {
    position:absolute;
    top:64%;
    animation:rotate 1.2s ease infinite alternate;
    animation-delay: 0.1s;
  }
  @keyframes rotate { 
    from{transform:rotate(-5deg);}
    to{transform:rotate(5deg);}
    }
    
    /* 아이콘 */
  #icon1 {
    position: absolute;
    top: 56%;
    animation: bounce 1.2s ease infinite alternate;
    animation-delay:0.1s;
  }

  #icon2 {
    animation:rotate 1s ease infinite alternate;
    animation-delay: 0.7s;
  }
  @keyframes rotate { 
    from{transform:rotate(-20deg);}
    to{transform:rotate(20deg);}
    }

  #icon3 {
    position: absolute;
    top: 56%;
    animation: bounce 1.2s ease infinite alternate;
    animation-delay:1.7s;
  }
  @keyframes bounce {
    100% {
      position:absolute;
      top:40%;
    }
  }

  /* 텍스트 */
  #p1{
    position:absolute;
    top:35%;
    left:6%;
  }
  #p2{
    position:absolute;
    top:35%;
    left:32%;
    animation:rotate 1s ease infinite alternate;
    animation-delay: 0.7s;
  }
  @keyframes rotate { 
    from{transform:rotate(-20deg);}
    to{transform:rotate(20deg);}
    }
    #p3{
    position:absolute;
    top:35%;
    right:12%;
    }
    #arrow2{
      position:absolute;
      top:40%;
      left:40%;
      animation:rotate 1s ease infinite alternate;
      animation-delay: 0.7s;
    }
    @keyframes rotate { 
      from{transform:rotate(-20deg);}
      to{transform:rotate(20deg);}
      }
      #arrow3{
      position:absolute;
      top:35%;
      right:20%;
      }
  
  }