/* 전체 윤곽 */
html, body{
    height: 100%;
    width: 100%;
}
body {
    background-color:rgb(255, 210, 51);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 내용 파트 */
.container {
    padding: 0 3%;
    height: 90%;
    width: 90%;
}
:is(.title_day, .title_input, .title_text, .title_name){
    border: 3px solid purple;
}
.container input::placeholder{
    font-size: 20px;
}

/* header 파트 */
.header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text_title {
    font-weight: bold;
    font-size: 45px;
    display:none;
}
.title_day {
    width: 45%;
    height: 50%;
}

/* main 파트 */
.main{
    width: 100%;
    height: 60%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    
}
#title_input {
    width: 100%;
    height: 15%;
}
#title_text {
    font-size: 18px;
    margin: 1% 0 2% 0;
    width: 100%;
    height: 70%;
}
#title_name {
    width: 100%;
    height: 15%;
    
}

/* footer 파트 */
.footer{
    
    width: 100%;
    height: 15%;
    margin-top: 8%; 
}

/* 버튼 */
button {
    
    background: linear-gradient(180deg, #FFC700 0%, #FFEA79 29.17%, #FFD233 71.87%, #FFD233 100%), #FFFFFF;    font-size: 25px;
    border: 3px solid black;
    border-radius:30px;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
    width: 15%;
    height: 60%;
    font-size: 30px;
    font-weight: bold;

}
.footer button:hover{
    box-shadow: inset black 5px 5px;
    color: white;
}
.footer #update{
    margin-right: 3%;
}

/* 이미지들 */
/* :is(#imgs1, #imgs2, #imgs3, #imgs4, #imgs5, #imgs6){
    position: absolute;
} */

/* staffbase */
#imgs1{
    max-width: 25%;
    position: absolute;
    bottom: 4%;
    right: 3%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25)); 
    
}

/* 상단 연필 */
#imgs2{
    position: absolute;
    width: 18%;
    top: 0%;
    left: 30%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
}
/* 중간 연필 */
#imgs3{
    position: absolute;
    width: 12%;
    top: 38%;
    left: 80%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
}
/* 하단 메모 */
#imgs4{
    position: absolute;
    width:18%;
    top: 80%;
    left: 50%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
}
/* 상단 메모 */
#imgs5{
    position: absolute;
    top: 5%;
    left: 80%;
    filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, 0.25));
}
/* #imgs6{
    position: absolute;
    top: 1%;
    left: 2%;
    width: 96%;
    height: 96%;
} */

/* 리스트 */
h1{
    color:#000;
    position:absolute;
    top:5%;
    left:5%;
    height:10%;
  }
h1 span{
    animation:bounce 0.5s ease infinite alternate;
    font-family:"Titan one",cursive;
    font-size:2.0em;color:#f3eeee;
    text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,
    0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,
    0 6px 0 transparent,0 7px 0 transparent,
    0 8px 0 transparent,0 9px 0 transparent,
    0 10px 10px rgba(0,0,0,0.4);
  }
  h1 span:nth-child(0) {
    animation-delay: 0.3s;
  }
  h1 span:nth-child(1) {
    animation-delay: 0.5s;
  }
  h1 span:nth-child(2) {
    animation-delay: 0.7s;
  }
  h1 span:nth-child(3) {
    animation-delay: 0.9s;
  }
  
  @keyframes bounce {
    100% {
      position:relative;
      top:5%;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
       0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc,
         0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }